[submodule "Bll.Shared"]
	path = Bll.Shared
	url = https://DKorablin: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@github.com/DKorablin/Bll.Shared.git
[submodule "Reflection.Shared"]
	path = Reflection.Shared
	url = https://DKorablin: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@github.com/DKorablin/Reflection.Shared.git
